@import "tailwindcss";

@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "@skeletonlabs/skeleton/themes/mona";

@plugin '@tailwindcss/forms';

body {
    font-family: "Sono";
}
